/* line 6, ../../sass/components/layout.scss */
.flex-layout-wrapper {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-flow: row nowrap;
  -webkit-flex-flow: row nowrap;
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  align-items: center;
}
/* line 12, ../../sass/components/layout.scss */
.left-half-flex,
.right-half-flex {
  -webkit-box-flex: 1;
  -moz-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-flow: row wrap;
  -webkit-flex-flow: row wrap;
}
/* line 19, ../../sass/components/layout.scss */
.flex-unit {
  -webkit-box-flex: 1 1 auto;
  -moz-box-flex: 1 1 auto;
  -webkit-flex: 1 1 auto;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-flow: row nowrap;
  -webkit-flex-flow: row nowrap;
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  align-items: center;
  margin: 5px 0;
  min-height: 32px;
}
/* line 29, ../../sass/components/layout.scss */
.flex-unit__label {
  line-height: 32px;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
}

/* line 36, ../../sass/components/layout.scss */
.flex-unit__content, .flex-unit__content--flex-0-1-33perc, .flex-unit__content--flex-0-1-33perc--magin-0-5px, .flex-unit__content--flex-basis-3, .flex-unit__content--flex-basis-1 {
  -webkit-box-flex: 1 1 auto;
  -moz-box-flex: 1 1 auto;
  -webkit-flex: 1 1 auto;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  text-align: left;
  position: relative;
}
/* line 41, ../../sass/components/layout.scss */
.flex-unit__content > *, .flex-unit__content--flex-0-1-33perc > *, .flex-unit__content--flex-0-1-33perc--magin-0-5px > *, .flex-unit__content--flex-basis-3 > *, .flex-unit__content--flex-basis-1 > * {
  width: 100%;
}

/* line 50, ../../sass/components/layout.scss */
.flex-unit__content--flex-0-1-33perc {
  -webkit-box-flex: 0 1 33%;
  -moz-box-flex: 0 1 33%;
  -webkit-flex: 0 1 33%;
  -ms-flex: 0 1 33%;
  flex: 0 1 33%;
}

/* line 55, ../../sass/components/layout.scss */
.flex-unit__content--flex-0-1-33perc--magin-0-5px {
  -webkit-box-flex: 0 1 33%;
  -moz-box-flex: 0 1 33%;
  -webkit-flex: 0 1 33%;
  -ms-flex: 0 1 33%;
  flex: 0 1 33%;
  margin: 0 5px;
}

/* line 6, ../../sass/components/commons.scss */
html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  background-color: #eeeeee;
  font-family: Arial, Verdana, Helvetica, "Microsoft YaHei" sans-serif;
  font-size: 16px;
  -webkit-text-size-adjust: none;
}

/* line 21, ../../sass/components/commons.scss */
* {
  outline: none !important;
}

/* line 25, ../../sass/components/commons.scss */
h1, h2, h3, h4, h5, h6 {
  margin-top: 0;
  color: #666;
}

/* line 30, ../../sass/components/commons.scss */
ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
/* line 11, ../../../../Ruby22-x64/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/typography/lists/_bullets.scss */
ul li {
  list-style-image: none;
  list-style-type: none;
  margin-left: 0;
}

/* line 36, ../../sass/components/commons.scss */
ul.dropdown-menu {
  width: 100% !important;
  color: #999;
  min-width: 1px;
  margin: 0;
  border: 1px solid #ccc;
  padding: 0;
  border: 1px solid #ccc;
  border-top: 0;
}
/* line 46, ../../sass/components/commons.scss */
ul.dropdown-menu li {
  padding-left: 7px;
  line-height: 20px;
}
/* line 50, ../../sass/components/commons.scss */
ul.dropdown-menu li:hover {
  background-color: #56668b;
  cursor: pointer;
  color: #fff !important;
}

/* line 58, ../../sass/components/commons.scss */
button.btn.btn-primary {
  background-color: #7b8caf !important;
  border: 1px solid #7080a2 !important;
}
/* line 62, ../../sass/components/commons.scss */
button.btn.btn-primary:hover {
  background-color: #64769b !important;
  border: 1px solid #556382 !important;
}

/* line 68, ../../sass/components/commons.scss */
button.btn.btn-default {
  background-color: #cccccc !important;
  border: 1px solid #c1c1c1 !important;
  color: #fff !important;
}
/* line 73, ../../sass/components/commons.scss */
button.btn.btn-default:hover {
  background-color: #b7b6b6 !important;
  border: 1px solid #ababab !important;
}

/* line 79, ../../sass/components/commons.scss */
legend {
  color: #666 !important;
  font-weight: normal;
}

/* line 84, ../../sass/components/commons.scss */
label {
  color: #666 !important;
  vertical-align: middle;
  padding-bottom: 0 !important;
  line-height: 100%;
  margin: 0;
}

/* line 92, ../../sass/components/commons.scss */
.main-sec span {
  color: #666;
}

/* line 94, ../../sass/components/commons.scss */
input,
textarea,
ul.dropdown-menu > li {
  color: #999;
  border-radius: 0 !important;
  -webkit-border-radius: 0 !important;
}

/* line 102, ../../sass/components/commons.scss */
textarea {
  resize: vertical;
}

/* line 106, ../../sass/components/commons.scss */
label,
input,
button,
textarea,
ul.dropdown-menu > li,
.main-sec span {
  font-size: 12px !important;
  font-weight: normal !important;
  line-height: 1em;
}

/* line 119, ../../sass/components/commons.scss */
.in-color {
  color: #999 !important;
}

/* line 121, ../../sass/components/commons.scss */
input[type="text"] {
  border: 1px solid #ccc;
  padding: 0 12px;
}

/* line 126, ../../sass/components/commons.scss */
input,
textarea {
  box-shadow: none !important;
}
/* line 130, ../../sass/components/commons.scss */
input:focus,
textarea:focus {
  border-color: #ccc !important;
}

/* line 135, ../../sass/components/commons.scss */
textarea {
  padding: 5px 0;
}

/* line 138, ../../sass/components/commons.scss */
.modal-dialog .close {
  font-size: 21px !important;
}

/* line 141, ../../sass/components/commons.scss */
.color-b {
  text-decoration: none !important;
  color: #3c81c7;
}
/* line 117, ../../sass/settings/_mixin.scss */
.color-b:hover, .color-bfocus, .color-b:active, .color-b:visited {
  text-decoration: none;
  color: #3c81c7;
  cursor: pointer;
}
/* line 144, ../../sass/components/commons.scss */
.color-b:hover {
  color: #2d6296;
  cursor: pointer;
}

/* line 150, ../../sass/components/commons.scss */
.form-control {
  height: 33px;
}

/* line 152, ../../sass/components/commons.scss */
span.input-group-addon {
  background-color: #f9f9f9;
  border-left: 0;
  border-radius: 0 !important;
  -webkit-border-radius: 0 !important;
}

/* line 159, ../../sass/components/commons.scss */
.popover-content {
  padding: 0 7px;
  font-size: 12px;
  color: #999;
  line-height: 20px;
}

/* line 166, ../../sass/components/commons.scss */
.popover.bottom {
  -moz-border-radius: 3px / 3px;
  -webkit-border-radius: 3px 3px;
  border-radius: 3px / 3px;
  -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
  margin-top: 3px;
}

/* line 172, ../../sass/components/commons.scss */
.popover.bottom > .arrow {
  top: -8px;
  margin-left: -7px;
}
/* line 176, ../../sass/components/commons.scss */
.popover.bottom > .arrow:after {
  top: 2px;
  margin-left: -7px;
}

/* line 182, ../../sass/components/commons.scss */
.popover > .arrow {
  border-width: 8px;
}
/* line 185, ../../sass/components/commons.scss */
.popover > .arrow:after {
  border-width: 7px;
}

/* line 189, ../../sass/components/commons.scss */
.table-condensed .active {
  background-color: #7b8caf !important;
  background-image: none !important;
}

/* line 195, ../../sass/components/commons.scss */
.red-start-tooltip {
  font-size: 12px;
  color: #666;
  font-weight: normal;
  text-align: left;
  display: block !important;
  width: 100% !important;
}

/* line 204, ../../sass/components/commons.scss */
.transparent-text {
  color: transparent !important;
}

/* line 209, ../../sass/components/commons.scss */
.table-bordered > thead > tr > td,
.table-bordered > thead > tr > th {
  border-bottom-width: 1px;
}

/* line 215, ../../sass/components/commons.scss */
::-webkit-input-placeholder {
  /* WebKit browsers */
  color: #999;
}

/* line 218, ../../sass/components/commons.scss */
:-moz-placeholder {
  /* Mozilla Firefox 4 to 18 */
  color: #999;
}

/* line 221, ../../sass/components/commons.scss */
::-moz-placeholder {
  /* Mozilla Firefox 19+ */
  color: #999;
}

/* line 224, ../../sass/components/commons.scss */
:-ms-input-placeholder {
  /* Internet Explorer 10+ */
  color: #999;
}

/* line 228, ../../sass/components/commons.scss */
.inner-bnt {
  position: absolute;
  right: 0;
  top: 0;
  height: 33px;
  width: 40px !important;
}

/* line 236, ../../sass/components/commons.scss */
button.go-bnt {
  position: absolute;
  right: 0;
  top: 0;
  height: 100%;
  width: 40px !important;
}
/* line 244, ../../sass/components/commons.scss */
button.go-bnt:active span {
  margin-right: -1px !important;
}

/* line 248, ../../sass/components/commons.scss */
img.preview-img {
  height: 50px;
  width: 50px;
}

/* line 253, ../../sass/components/commons.scss */
.flex-layout-wrapper--flex-direction-column {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-flow: column nowrap;
  -webkit-flex-flow: column nowrap;
}

/* line 258, ../../sass/components/commons.scss */
.flex-unit__content--magin-5px {
  -webkit-box-flex: 1 1 auto;
  -moz-box-flex: 1 1 auto;
  -webkit-flex: 1 1 auto;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  margin: 0 5px;
}

/* line 263, ../../sass/components/commons.scss */
.flex-unit__content--flex-basis-3 {
  -webkit-box-flex: 3;
  -moz-box-flex: 3;
  -webkit-flex: 3;
  -ms-flex: 3;
  flex: 3;
  margin-right: 5px;
}

/* line 269, ../../sass/components/commons.scss */
.flex-unit__content--flex-basis-1 {
  -webkit-box-flex: 1;
  -moz-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

/* line 279, ../../sass/components/commons.scss */
.form_datetime {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
}
/* line 283, ../../sass/components/commons.scss */
.form_datetime .input-group-addon {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  -ms-justify-content: center;
  justify-content: center;
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  align-items: center;
}

/* line 290, ../../sass/components/commons.scss */
input[type="text"] {
  height: 32px;
}

/* line 294, ../../sass/components/commons.scss */
button {
  height: 32px;
}

/* line 296, ../../sass/components/commons.scss */
input[type="checkbox"],
input[type="radio"] {
  width: auto;
  margin: 3px 1px 3px 0;
}

/* line 302, ../../sass/components/commons.scss */
.bnt-box {
  text-align: left;
}

/* line 307, ../../sass/components/commons.scss */
.form_datetime {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-flex: 1 1 180px;
  -moz-box-flex: 1 1 180px;
  -webkit-flex: 1 1 180px;
  -ms-flex: 1 1 180px;
  flex: 1 1 180px;
}
/* line 311, ../../sass/components/commons.scss */
.form_datetime .form-control {
  -webkit-box-flex: 1 1 100%;
  -moz-box-flex: 1 1 100%;
  -webkit-flex: 1 1 100%;
  -ms-flex: 1 1 100%;
  flex: 1 1 100%;
}
/* line 315, ../../sass/components/commons.scss */
.form_datetime .input-group-addon {
  -webkit-box-flex: 0 0 32px;
  -moz-box-flex: 0 0 32px;
  -webkit-flex: 0 0 32px;
  -ms-flex: 0 0 32px;
  flex: 0 0 32px;
}

/* line 320, ../../sass/components/commons.scss */
.mr20px {
  margin-right: 20px;
}
