/* line 6, ../../sass/components/layout.scss */
.flex-layout-wrapper {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-flow: row nowrap;
  -webkit-flex-flow: row nowrap;
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  align-items: center;
}
/* line 12, ../../sass/components/layout.scss */
.left-half-flex,
.right-half-flex {
  -webkit-box-flex: 1;
  -moz-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-flow: row wrap;
  -webkit-flex-flow: row wrap;
}
/* line 19, ../../sass/components/layout.scss */
.flex-unit {
  -webkit-box-flex: 1 1 auto;
  -moz-box-flex: 1 1 auto;
  -webkit-flex: 1 1 auto;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-flow: row nowrap;
  -webkit-flex-flow: row nowrap;
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  align-items: center;
  margin: 5px 0;
  min-height: 32px;
}
/* line 29, ../../sass/components/layout.scss */
.flex-unit__label {
  line-height: 32px;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
}

/* line 36, ../../sass/components/layout.scss */
.flex-unit__content, .flex-unit__content--flex-0-1-33perc, .flex-unit__content--flex-0-1-33perc--magin-0-5px {
  -webkit-box-flex: 1 1 auto;
  -moz-box-flex: 1 1 auto;
  -webkit-flex: 1 1 auto;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  text-align: left;
  position: relative;
}
/* line 41, ../../sass/components/layout.scss */
.flex-unit__content > *, .flex-unit__content--flex-0-1-33perc > *, .flex-unit__content--flex-0-1-33perc--magin-0-5px > * {
  width: 100%;
}

/* line 50, ../../sass/components/layout.scss */
.flex-unit__content--flex-0-1-33perc {
  -webkit-box-flex: 0 1 33%;
  -moz-box-flex: 0 1 33%;
  -webkit-flex: 0 1 33%;
  -ms-flex: 0 1 33%;
  flex: 0 1 33%;
}

/* line 55, ../../sass/components/layout.scss */
.flex-unit__content--flex-0-1-33perc--magin-0-5px {
  -webkit-box-flex: 0 1 33%;
  -moz-box-flex: 0 1 33%;
  -webkit-flex: 0 1 33%;
  -ms-flex: 0 1 33%;
  flex: 0 1 33%;
  margin: 0 5px;
}
