/* line 816, icons/*.png */
.icons-sprite, .icons-account-edit, .icons-accounts, .icons-add-agenda, .icons-add-contact, .icons-add-meetingplace, .icons-add-opt-1, .icons-add-opt-2, .icons-add-speaker, .icons-add-sub-2, .icons-add, .icons-apps, .icons-banner, .icons-cg-add-agenda-1, .icons-cg-add-contact-1, .icons-cg-add-meetingplace-1, .icons-cg-add-speaker-1, .icons-cg-contacts-1, .icons-cg-customizatlion-1, .icons-cg-edit-1, .icons-cg-events-1, .icons-cg-home-page-1, .icons-cg-logout-1, .icons-cg-messages-1, .icons-cg-my-events-1, .icons-cg-program-1, .icons-cg-publish-1, .icons-cg-reports-1, .icons-cg-settings-1, .icons-cg-sponsor-exhibitors-1, .icons-cg-survey-1, .icons-cg-user-managerment-1, .icons-choosed, .icons-contacts, .icons-current, .icons-customizatlion, .icons-drop-down, .icons-edit, .icons-end-point, .icons-events, .icons-file, .icons-flag-reverse, .icons-flag, .icons-folder-closed, .icons-folder, .icons-hamburger, .icons-head-portrait, .icons-home-page, .icons-key, .icons-letters, .icons-login-pwd, .icons-login-username, .icons-logo-login, .icons-logo, .icons-logout, .icons-meeting-details, .icons-messages, .icons-my-events, .icons-my-meeting, .icons-my-ticket, .icons-next-step-1, .icons-next-step-2, .icons-note, .icons-program, .icons-publish, .icons-qr-code, .icons-red-star, .icons-refresh, .icons-reports, .icons-settings, .icons-shrink-left, .icons-shrink-right, .icons-sponsor-exhibitors, .icons-step-node, .icons-sub-opt-1, .icons-sub-opt-2, .icons-survey, .icons-triangle, .icons-user-managerment, .icons-user {
  background-image: url('../../images/icons-s0b38379497.png');
  background-repeat: no-repeat;
}

/* line 84, ../../../../Ruby22-x64/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.icons-account-edit {
  background-position: 0 -30px;
  height: 30px;
  width: 30px;
}
/* line 59, ../../../../Ruby22-x64/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.icons-account-edit:hover, .icons-account-edit.account-edit-hover {
  background-position: 0 0;
}

/* line 84, ../../../../Ruby22-x64/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.icons-accounts {
  background-position: 0 -91px;
  height: 31px;
  width: 31px;
}
/* line 59, ../../../../Ruby22-x64/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.icons-accounts:hover, .icons-accounts.accounts-hover, .current > .icons-accounts {
  background-position: 0 -60px;
}

/* line 84, ../../../../Ruby22-x64/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.icons-add-agenda {
  background-position: 0 -122px;
  height: 40px;
  width: 40px;
}

/* line 84, ../../../../Ruby22-x64/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.icons-add-contact {
  background-position: 0 -162px;
  height: 40px;
  width: 40px;
}

/* line 84, ../../../../Ruby22-x64/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.icons-add-meetingplace {
  background-position: 0 -202px;
  height: 40px;
  width: 40px;
}

/* line 84, ../../../../Ruby22-x64/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.icons-add-opt-1 {
  background-position: 0 -242px;
  height: 30px;
  width: 30px;
}

/* line 84, ../../../../Ruby22-x64/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.icons-add-opt-2 {
  background-position: 0 -272px;
  height: 30px;
  width: 30px;
}

/* line 84, ../../../../Ruby22-x64/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.icons-add-speaker {
  background-position: 0 -302px;
  height: 40px;
  width: 40px;
}

/* line 84, ../../../../Ruby22-x64/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.icons-add-sub-2 {
  background-position: 0 -342px;
  height: 38px;
  width: 38px;
}

/* line 84, ../../../../Ruby22-x64/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.icons-add {
  background-position: 0 -380px;
  height: 19px;
  width: 19px;
}

/* line 84, ../../../../Ruby22-x64/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.icons-apps {
  background-position: 0 -399px;
  height: 438px;
  width: 438px;
}

/* line 84, ../../../../Ruby22-x64/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.icons-banner {
  background-position: 0 -837px;
  height: 45px;
  width: 121px;
}

/* line 84, ../../../../Ruby22-x64/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.icons-cg-add-agenda-1 {
  background-position: 0 -882px;
  height: 38px;
  width: 38px;
}

/* line 84, ../../../../Ruby22-x64/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.icons-cg-add-contact-1 {
  background-position: 0 -920px;
  height: 38px;
  width: 38px;
}

/* line 84, ../../../../Ruby22-x64/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.icons-cg-add-meetingplace-1 {
  background-position: 0 -958px;
  height: 38px;
  width: 38px;
}

/* line 84, ../../../../Ruby22-x64/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.icons-cg-add-speaker-1 {
  background-position: 0 -996px;
  height: 38px;
  width: 38px;
}

/* line 84, ../../../../Ruby22-x64/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.icons-cg-contacts-1 {
  background-position: 0 -1034px;
  height: 38px;
  width: 38px;
}

/* line 84, ../../../../Ruby22-x64/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.icons-cg-customizatlion-1 {
  background-position: 0 -1072px;
  height: 38px;
  width: 38px;
}

/* line 84, ../../../../Ruby22-x64/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.icons-cg-edit-1 {
  background-position: 0 -1110px;
  height: 38px;
  width: 38px;
}

/* line 84, ../../../../Ruby22-x64/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.icons-cg-events-1 {
  background-position: 0 -1148px;
  height: 38px;
  width: 38px;
}

/* line 84, ../../../../Ruby22-x64/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.icons-cg-home-page-1 {
  background-position: 0 -1186px;
  height: 38px;
  width: 38px;
}

/* line 84, ../../../../Ruby22-x64/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.icons-cg-logout-1 {
  background-position: 0 -1224px;
  height: 38px;
  width: 38px;
}

/* line 84, ../../../../Ruby22-x64/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.icons-cg-messages-1 {
  background-position: 0 -1262px;
  height: 38px;
  width: 38px;
}

/* line 84, ../../../../Ruby22-x64/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.icons-cg-my-events-1 {
  background-position: 0 -1300px;
  height: 38px;
  width: 38px;
}

/* line 84, ../../../../Ruby22-x64/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.icons-cg-program-1 {
  background-position: 0 -1338px;
  height: 38px;
  width: 38px;
}

/* line 84, ../../../../Ruby22-x64/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.icons-cg-publish-1 {
  background-position: 0 -1376px;
  height: 38px;
  width: 38px;
}

/* line 84, ../../../../Ruby22-x64/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.icons-cg-reports-1 {
  background-position: 0 -1414px;
  height: 38px;
  width: 38px;
}

/* line 84, ../../../../Ruby22-x64/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.icons-cg-settings-1 {
  background-position: 0 -1452px;
  height: 38px;
  width: 38px;
}

/* line 84, ../../../../Ruby22-x64/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.icons-cg-sponsor-exhibitors-1 {
  background-position: 0 -1490px;
  height: 38px;
  width: 38px;
}

/* line 84, ../../../../Ruby22-x64/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.icons-cg-survey-1 {
  background-position: 0 -1528px;
  height: 38px;
  width: 38px;
}

/* line 84, ../../../../Ruby22-x64/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.icons-cg-user-managerment-1 {
  background-position: 0 -1566px;
  height: 38px;
  width: 38px;
}

/* line 84, ../../../../Ruby22-x64/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.icons-choosed {
  background-position: 0 -1604px;
  height: 38px;
  width: 38px;
}

/* line 84, ../../../../Ruby22-x64/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.icons-contacts {
  background-position: 0 -1673px;
  height: 31px;
  width: 31px;
}
/* line 59, ../../../../Ruby22-x64/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.icons-contacts:hover, .icons-contacts.contacts-hover, .current > .icons-contacts {
  background-position: 0 -1642px;
}

/* line 84, ../../../../Ruby22-x64/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.icons-current {
  background-position: 0 -1704px;
  height: 38px;
  width: 38px;
}

/* line 84, ../../../../Ruby22-x64/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.icons-customizatlion {
  background-position: 0 -1773px;
  height: 31px;
  width: 31px;
}
/* line 59, ../../../../Ruby22-x64/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.icons-customizatlion:hover, .icons-customizatlion.customizatlion-hover, .current > .icons-customizatlion {
  background-position: 0 -1742px;
}

/* line 84, ../../../../Ruby22-x64/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.icons-drop-down {
  background-position: 0 -1804px;
  height: 38px;
  width: 38px;
}

/* line 84, ../../../../Ruby22-x64/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.icons-edit {
  background-position: 0 -1842px;
  height: 40px;
  width: 40px;
}

/* line 84, ../../../../Ruby22-x64/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.icons-end-point {
  background-position: 0 -1882px;
  height: 38px;
  width: 38px;
}

/* line 84, ../../../../Ruby22-x64/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.icons-events {
  background-position: 0 -1951px;
  height: 31px;
  width: 31px;
}
/* line 59, ../../../../Ruby22-x64/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.icons-events:hover, .icons-events.events-hover, .current > .icons-events {
  background-position: 0 -1920px;
}

/* line 84, ../../../../Ruby22-x64/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.icons-file {
  background-position: 0 -1982px;
  height: 14px;
  width: 11px;
}

/* line 84, ../../../../Ruby22-x64/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.icons-flag-reverse {
  background-position: 0 -1996px;
  height: 100px;
  width: 100px;
}

/* line 84, ../../../../Ruby22-x64/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.icons-flag {
  background-position: 0 -2096px;
  height: 100px;
  width: 100px;
}

/* line 84, ../../../../Ruby22-x64/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.icons-folder-closed {
  background-position: 0 -2196px;
  height: 11px;
  width: 12px;
}

/* line 84, ../../../../Ruby22-x64/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.icons-folder {
  background-position: 0 -2207px;
  height: 11px;
  width: 15px;
}

/* line 84, ../../../../Ruby22-x64/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.icons-hamburger {
  background-position: 0 -2218px;
  height: 38px;
  width: 38px;
}

/* line 84, ../../../../Ruby22-x64/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.icons-head-portrait {
  background-position: 0 -2256px;
  height: 45px;
  width: 45px;
}

/* line 84, ../../../../Ruby22-x64/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.icons-home-page {
  background-position: 0 -2332px;
  height: 31px;
  width: 31px;
}
/* line 59, ../../../../Ruby22-x64/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.icons-home-page:hover, .icons-home-page.home-page-hover, .current > .icons-home-page {
  background-position: 0 -2301px;
}

/* line 84, ../../../../Ruby22-x64/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.icons-key {
  background-position: 0 -2393px;
  height: 30px;
  width: 30px;
}
/* line 59, ../../../../Ruby22-x64/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.icons-key:hover, .icons-key.key-hover {
  background-position: 0 -2363px;
}

/* line 84, ../../../../Ruby22-x64/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.icons-letters {
  background-position: 0 -2461px;
  height: 38px;
  width: 38px;
}
/* line 59, ../../../../Ruby22-x64/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.icons-letters:hover, .icons-letters.letters-hover {
  background-position: 0 -2423px;
}

/* line 84, ../../../../Ruby22-x64/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.icons-login-pwd {
  background-position: 0 -2499px;
  height: 30px;
  width: 30px;
}

/* line 84, ../../../../Ruby22-x64/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.icons-login-username {
  background-position: 0 -2529px;
  height: 30px;
  width: 30px;
}

/* line 84, ../../../../Ruby22-x64/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.icons-logo-login {
  background-position: 0 -2559px;
  height: 90px;
  width: 90px;
}

/* line 84, ../../../../Ruby22-x64/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.icons-logo {
  background-position: 0 -2649px;
  height: 80px;
  width: 80px;
}

/* line 84, ../../../../Ruby22-x64/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.icons-logout {
  background-position: 0 -2729px;
  height: 38px;
  width: 38px;
}

/* line 84, ../../../../Ruby22-x64/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.icons-meeting-details {
  background-position: 0 -2767px;
  height: 38px;
  width: 38px;
}

/* line 84, ../../../../Ruby22-x64/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.icons-messages {
  background-position: 0 -2836px;
  height: 31px;
  width: 31px;
}
/* line 59, ../../../../Ruby22-x64/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.icons-messages:hover, .icons-messages.messages-hover, .current > .icons-messages {
  background-position: 0 -2805px;
}

/* line 84, ../../../../Ruby22-x64/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.icons-my-events {
  background-position: 0 -2867px;
  height: 38px;
  width: 38px;
}

/* line 84, ../../../../Ruby22-x64/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.icons-my-meeting {
  background-position: 0 -2905px;
  height: 38px;
  width: 38px;
}

/* line 84, ../../../../Ruby22-x64/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.icons-my-ticket {
  background-position: 0 -2943px;
  height: 38px;
  width: 38px;
}

/* line 84, ../../../../Ruby22-x64/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.icons-next-step-1 {
  background-position: 0 -2981px;
  height: 82px;
  width: 83px;
}

/* line 84, ../../../../Ruby22-x64/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.icons-next-step-2 {
  background-position: 0 -3063px;
  height: 82px;
  width: 83px;
}

/* line 84, ../../../../Ruby22-x64/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.icons-note {
  background-position: 0 -3175px;
  height: 30px;
  width: 30px;
}
/* line 59, ../../../../Ruby22-x64/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.icons-note:hover, .icons-note.note-hover {
  background-position: 0 -3145px;
}

/* line 84, ../../../../Ruby22-x64/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.icons-program {
  background-position: 0 -3236px;
  height: 31px;
  width: 31px;
}
/* line 59, ../../../../Ruby22-x64/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.icons-program:hover, .icons-program.program-hover, .current > .icons-program {
  background-position: 0 -3205px;
}

/* line 84, ../../../../Ruby22-x64/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.icons-publish {
  background-position: 0 -3267px;
  height: 40px;
  width: 40px;
}

/* line 84, ../../../../Ruby22-x64/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.icons-qr-code {
  background-position: 0 -3307px;
  height: 98px;
  width: 98px;
}

/* line 84, ../../../../Ruby22-x64/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.icons-red-star {
  background-position: 0 -3405px;
  height: 38px;
  width: 38px;
}

/* line 84, ../../../../Ruby22-x64/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.icons-refresh {
  background-position: 0 -3443px;
  height: 38px;
  width: 38px;
}

/* line 84, ../../../../Ruby22-x64/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.icons-reports {
  background-position: 0 -3512px;
  height: 31px;
  width: 31px;
}
/* line 59, ../../../../Ruby22-x64/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.icons-reports:hover, .icons-reports.reports-hover, .current > .icons-reports {
  background-position: 0 -3481px;
}

/* line 84, ../../../../Ruby22-x64/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.icons-settings {
  background-position: 0 -3574px;
  height: 31px;
  width: 31px;
}
/* line 59, ../../../../Ruby22-x64/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.icons-settings:hover, .icons-settings.settings-hover, .current > .icons-settings {
  background-position: 0 -3543px;
}

/* line 84, ../../../../Ruby22-x64/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.icons-shrink-left {
  background-position: 0 -3685px;
  height: 80px;
  width: 14px;
}
/* line 59, ../../../../Ruby22-x64/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.icons-shrink-left:hover, .icons-shrink-left.shrink-left-hover {
  background-position: 0 -3605px;
}

/* line 84, ../../../../Ruby22-x64/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.icons-shrink-right {
  background-position: 0 -3845px;
  height: 80px;
  width: 14px;
}
/* line 59, ../../../../Ruby22-x64/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.icons-shrink-right:hover, .icons-shrink-right.shrink-right-hover {
  background-position: 0 -3765px;
}

/* line 84, ../../../../Ruby22-x64/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.icons-sponsor-exhibitors {
  background-position: 0 -3956px;
  height: 31px;
  width: 31px;
}
/* line 59, ../../../../Ruby22-x64/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.icons-sponsor-exhibitors:hover, .icons-sponsor-exhibitors.sponsor-exhibitors-hover, .current > .icons-sponsor-exhibitors {
  background-position: 0 -3925px;
}

/* line 84, ../../../../Ruby22-x64/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.icons-step-node {
  background-position: 0 -3987px;
  height: 38px;
  width: 38px;
}

/* line 84, ../../../../Ruby22-x64/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.icons-sub-opt-1 {
  background-position: 0 -4025px;
  height: 30px;
  width: 30px;
}

/* line 84, ../../../../Ruby22-x64/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.icons-sub-opt-2 {
  background-position: 0 -4055px;
  height: 30px;
  width: 30px;
}

/* line 84, ../../../../Ruby22-x64/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.icons-survey {
  background-position: 0 -4116px;
  height: 31px;
  width: 31px;
}
/* line 59, ../../../../Ruby22-x64/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.icons-survey:hover, .icons-survey.survey-hover, .current > .icons-survey {
  background-position: 0 -4085px;
}

/* line 84, ../../../../Ruby22-x64/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.icons-triangle {
  background-position: 0 -4147px;
  height: 38px;
  width: 38px;
}

/* line 84, ../../../../Ruby22-x64/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.icons-user-managerment {
  background-position: 0 -4216px;
  height: 31px;
  width: 31px;
}
/* line 59, ../../../../Ruby22-x64/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.icons-user-managerment:hover, .icons-user-managerment.user-managerment-hover, .current > .icons-user-managerment {
  background-position: 0 -4185px;
}

/* line 84, ../../../../Ruby22-x64/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.icons-user {
  background-position: 0 -4247px;
  height: 38px;
  width: 38px;
}

/* line 10, ../../sass/settings/_icons.scss */
.current {
  border-top: #65727f;
  border-bottom: #1f262d;
}

/* line 2, ../../sass/settings/_skin-toggle.scss */
#sidebar {
  background-color: #3b4966;
}
/* line 6, ../../sass/settings/_skin-toggle.scss */
#sidebar ul a:visited, #sidebar ul a:hover {
  background-color: #56678a;
}
/* line 12, ../../sass/settings/_skin-toggle.scss */
#sidebar .current {
  background-color: #627292;
}
/* line 16, ../../sass/settings/_skin-toggle.scss */
#sidebar .active-item {
  background-color: #56678a;
}

/* line 24, ../../sass/settings/_skin-toggle.scss */
#language-torggle button {
  border: 1px solid #677ca6;
  color: #677ca6;
}
/* line 29, ../../sass/settings/_skin-toggle.scss */
#language-torggle .current-language {
  background-color: #677ca6 !important;
  color: #3b4966 !important;
}

/* line 37, ../../sass/settings/_skin-toggle.scss */
html,
body,
#footer {
  background-color: #f0f2f5;
}

/* line 44, ../../sass/settings/_skin-toggle.scss */
.events-table-container #event-table-options {
  background-color: #e2e6ef;
  text-align: left;
  padding: 0 20px;
}
/* line 50, ../../sass/settings/_skin-toggle.scss */
.events-table-container th {
  background-color: #677ca6;
}
/* line 55, ../../sass/settings/_skin-toggle.scss */
.events-table-container tr td:nth-of-type(2) {
  color: #2488b3;
}
/* line 60, ../../sass/settings/_skin-toggle.scss */
.events-table-container #table-page {
  background: #e9eef5;
}
