@charset "UTF-8";
/* line 5, ../../sass/module/header.scss */
.header {
  color: #999;
  background-color: #3b4966;
  z-index: 90;
  min-width: 990px;
  max-height: 60px;
  font-family: "Microsoft YaHei";
}
/* line 16, ../../sass/module/header.scss */
.header a {
  color: #fff;
  font-size: 13px;
  display: inline-block;
  cursor: pointer;
}
/* line 23, ../../sass/module/header.scss */
.header [class*="icons"] {
  display: block;
  margin: 11px 0;
  float: left;
}
/* line 29, ../../sass/module/header.scss */
.header .change-skin {
  display: inline-block;
}

/*
 * 左边的栏目，注明当前页是侧边栏中的那一项的内容
 */
/* line 35, ../../sass/module/header.scss */
.left-column {
  position: absolute;
  display: inline-block;
  bottom: 0px;
  font-size: 13.76px;
}

/* line 42, ../../sass/module/header.scss */
#current-page {
  margin-left: 30px;
  margin-bottom: 10px;
  float: left;
}

/*
 * 右边的栏目：包含上面的语言切换，头像，和下面的用户名，消息，注销导航
 */
/* line 52, ../../sass/module/header.scss */
.right-column [class*="icons"] {
  float: left;
}
/* line 56, ../../sass/module/header.scss */
.right-column > a, .right-column > div {
  display: inline-block;
  height: 60px;
  float: left;
}
/* line 66, ../../sass/module/header.scss */
.right-column .my-events-link:hover,
.right-column .head-portrait-div:hover,
.right-column .logout-link:hover,
.right-column .my-ticket-link:hover {
  background-color: #323e57;
}
/* line 69, ../../sass/module/header.scss */
.right-column #logout-list,
.right-column #my-events-list,
.right-column #my-ticket-list,
.right-column #head-portrait-list {
  min-width: 100% !important;
  padding: 0;
  font-size: 12px;
  color: #999;
  border: 1px solid rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
}
/* line 81, ../../sass/module/header.scss */
.right-column #logout-list li,
.right-column #my-events-list li,
.right-column #my-ticket-list li,
.right-column #head-portrait-list li {
  max-width: 100%;
  text-align: center;
  line-height: 20px;
  padding-left: 5px;
}
/* line 87, ../../sass/module/header.scss */
.right-column #logout-list li:hover,
.right-column #my-events-list li:hover,
.right-column #my-ticket-list li:hover,
.right-column #head-portrait-list li:hover {
  background-color: transparent;
}
/* line 91, ../../sass/module/header.scss */
.right-column #my-ticket-list li:hover {
  background-color: #56678a;
  cursor: pointer;
}
/* line 99, ../../sass/module/header.scss */
.right-column #logout-list li:hover,
.right-column #my-events-list li:hover,
.right-column #head-portrait-list li:hover {
  cursor: default;
  color: #999 !important;
}
/* line 107, ../../sass/module/header.scss */
.right-column #my-events-list li,
.right-column #head-portrait-list li {
  text-align: left;
}

/* line 111, ../../sass/module/header.scss */
.top-nav {
  width: 100%;
  margin-top: 3px;
  height: 60px;
}

/*
 * 切换皮肤
 */
/* line 120, ../../sass/module/header.scss */
.skin-toggle-div {
  display: inline-block;
  float: left;
  padding: 21px 0;
  font-size: 12px;
}
/* line 126, ../../sass/module/header.scss */
.skin-toggle-div .skin-name {
  float: left;
  font-size: 14.44px;
  color: #fff;
  line-height: 18px;
  margin-right: 10px;
}
/* line 134, ../../sass/module/header.scss */
.skin-toggle-div .skin-color,
.skin-toggle-div .cg-skin-1,
.skin-toggle-div .cg-skin-2,
.skin-toggle-div .cg-skin-3 {
  display: inline-block;
  width: 13px;
  height: 13px;
  border: 1px solid #a0a9b8;
}
/* line 144, ../../sass/module/header.scss */
.skin-toggle-div .skin-color {
  background-color: #3b4966;
}
/* line 147, ../../sass/module/header.scss */
.skin-toggle-div .cg-skin-1 {
  background-color: #4d6793;
}
/* line 148, ../../sass/module/header.scss */
.skin-toggle-div .cg-skin-2 {
  background-color: #364860;
}
/* line 149, ../../sass/module/header.scss */
.skin-toggle-div .cg-skin-3 {
  background-color: #4b6c8b;
}
/* line 151, ../../sass/module/header.scss */
.skin-toggle-div #skin-select {
  height: 16px;
  width: 45px;
  background-color: #fff;
  border: 0;
  text-align: left;
  padding: 1.5px 7.4px;
}
/* line 160, ../../sass/module/header.scss */
.skin-toggle-div span.icons-drop-down {
  display: inline-block;
  position: absolute;
  margin-top: 0;
  margin-bottom: 0;
  top: -11px;
  right: -8px;
}
/* line 169, ../../sass/module/header.scss */
.skin-toggle-div ul.dropdown-menu {
  width: 100% !important;
  min-width: 1px !important;
  background-color: #fff;
  padding: 5px 0;
  margin-top: -1.5px;
}
/* line 176, ../../sass/module/header.scss */
.skin-toggle-div ul.dropdown-menu li {
  cursor: pointer;
  display: inline-block;
  width: 100%;
}
/* line 181, ../../sass/module/header.scss */
.skin-toggle-div ul.dropdown-menu li:hover {
  background-color: #eaedf2;
}

/* line 186, ../../sass/module/header.scss */
.language-torggle {
  display: inline-block;
  float: left;
  border-right: 1px solid #293347;
}

/* line 192, ../../sass/module/header.scss */
.language-torggle > button {
  margin: 22px 0;
  width: 26px;
  height: 16px;
  background-color: transparent;
  border: 1px solid #999;
  color: #999;
  font-size: 12px;
  font-family: Arial;
  font-weight: 500;
  text-align: center;
  padding: 2px;
  cursor: pointer;
}

/* line 211, ../../sass/module/header.scss */
#english {
  margin-left: -1px;
}

/* line 215, ../../sass/module/header.scss */
.current-language {
  background-color: #999 !important;
  color: #fff !important;
}

/* line 220, ../../sass/module/header.scss */
.icons-head-portrait {
  float: right;
  float: left;
  margin: 7px 0 !important;
}

/* line 226, ../../sass/module/header.scss */
.head-portrait-div {
  display: inline-block;
}

/* line 230, ../../sass/module/header.scss */
.bottom-nav {
  font-size: 14.44px;
  width: 100%;
  height: 33px;
}

/* line 236, ../../sass/module/header.scss */
.bottom-nav > a {
  position: relative;
  display: inline-block;
  float: right;
  margin-top: -20px;
}
/* line 242, ../../sass/module/header.scss */
.bottom-nav > a:hover {
  cursor: pointer;
}

/* line 247, ../../sass/module/header.scss */
.bottom-nav > a:after {
  content: "";
  position: absolute;
  right: 0;
  top: 0;
  width: 0px;
  height: 100%;
  border-left: 1px solid #dbdbdb;
  border-right: 1px solid #fff;
}

/* line 258, ../../sass/module/header.scss */
.user-link,
.my-events-link,
.logout-link,
.my-ticket-link,
.skin-toggle-div {
  border-right: 1px solid #293347;
}

@media (min-width: 1200px) {
  /* line 267, ../../sass/module/header.scss */
  .my-events-link,
  .logout-link,
  .my-ticket-link {
    padding-right: 15px;
  }

  /* line 273, ../../sass/module/header.scss */
  .user-link,
  .skin-toggle-div {
    padding-left: 15px;
    padding-right: 15px;
  }

  /* line 279, ../../sass/module/header.scss */
  .language-torggle,
  .head-portrait-div {
    padding-left: 20px;
    padding-right: 20px;
  }
}
@media screen and (max-width: 1199px) {
  /* line 288, ../../sass/module/header.scss */
  .header [class*="icons"] {
    margin-left: -8px;
  }

  /* line 292, ../../sass/module/header.scss */
  .my-events-link,
  .logout-link,
  .my-ticket-link {
    padding-right: 6px;
  }

  /* line 298, ../../sass/module/header.scss */
  .user-link,
  .skin-toggle-div,
  .language-torggle,
  .head-portrait-div {
    padding-left: 6px;
    padding-right: 6px;
  }
}
/* line 307, ../../sass/module/header.scss */
#user,
#my-events,
#logout,
.bottom-nav span[class*="icons"] {
  display: inline-block;
  float: left;
}

/* line 315, ../../sass/module/header.scss */
#user,
#my-events,
#logout,
#my-ticket {
  line-height: 60px;
  float: left;
}

/* line 323, ../../sass/module/header.scss */
span#user {
  padding-right: 3px;
}

/* line 327, ../../sass/module/header.scss */
.icons-letters {
  position: relative;
}

/* line 331, ../../sass/module/header.scss */
.letter-count {
  position: absolute;
  width: 12px;
  height: 12px;
  background-color: #e10010;
  font-size: 13px;
  -moz-border-radius: 12px / 12px;
  -webkit-border-radius: 12px 12px;
  border-radius: 12px / 12px;
  text-align: center;
  line-height: 10px;
  right: 0;
  top: 0;
  margin-top: 6px;
  margin-right: 2px;
}
/* line 345, ../../sass/module/header.scss */
.letter-count span {
  transform: scale(0.7);
  -webkit-transform: scale(0.7);
  -ms-transform: scale(0.7);
  -moz-transform: scale(0.7);
  -o-transform: scale(0.7);
  display: inline-block;
  margin-left: -.5px;
}
