/* line 6, ../../sass/module/sidebar.scss */
.sidebar-box {
  position: relative;
  overflow: visible;
  z-index: 100;
}
/* line 12, ../../sass/module/sidebar.scss */
#fold {
  text-align: center;
  border: 0;
  border-bottom: 1px solid #384154;
  border-top: 1px solid #384154;
  background-color: transparent;
}
/* line 19, ../../sass/module/sidebar.scss */
#fold #icons-hamburger {
  margin: 0;
  margin-top: -1px;
  transition-duration: 0.5s;
  -webkit-transition-duration: 0.5s;
  -moz-transition-duration: 0.5s;
  -ms-transition-duration: 0.5s;
}

/* line 30, ../../sass/module/sidebar.scss */
.collapse-in {
  transform: rotate(90deg);
  transform-origin: 50% 50%;
  -webkit-transform: rotate(90deg);
  -webkit-transform-origin: 50% 50%;
  -moz-transform: rotate(90deg);
  -moz-transform-origin: 50% 50%;
  -ms-transform: rotate(90deg);
  -ms-transform-origin: 50% 50%;
}
/* line 45, ../../sass/module/sidebar.scss */
.sidebar-box ul {
  padding-top: 6px;
}
/* line 47, ../../sass/module/sidebar.scss */
.sidebar-box ul a {
  color: inherit;
  text-decoration: inherit;
  cursor: inherit;
  color: #fff !important;
  text-decoration: none !important;
  font-size: 14px;
  cursor: pointer;
  position: relative;
  display: inline-block;
  line-height: 25px;
  height: 100%;
  width: 70%;
  padding-left: 15%;
  margin-left: 15%;
  -moz-border-radius: 5px / 5px;
  -webkit-border-radius: 5px 5px;
  border-radius: 5px / 5px;
}
/* line 6, ../../../../Ruby22-x64/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/typography/links/_unstyled-link.scss */
.sidebar-box ul a:active, .sidebar-box ul a:focus {
  outline: none;
}
/* line 64, ../../sass/module/sidebar.scss */
.sidebar-box ul a:visited, .sidebar-box ul a:hover {
  cursor: pointer;
  -moz-border-radius: 5px / 5px;
  -webkit-border-radius: 5px 5px;
  border-radius: 5px / 5px;
}

/* line 74, ../../sass/module/sidebar.scss */
.sec-sidebar-in {
  flex: 0;
}

/* line 78, ../../sass/module/sidebar.scss */
.sec-sider-out {
  flex: 0;
  flex-basis: 195px;
}

/* line 83, ../../sass/module/sidebar.scss */
.icons-triangle {
  transform-origin: 50% 50%;
  -webkit-transform-origin: 50% 50%;
  -moz-transform-origin: 50% 50%;
  -o-transform-origin: 50% 50%;
  transition-duration: .5s;
  -webkit-transition-duration: .5s;
  opacity: 1 !important;
}

/* line 95, ../../sass/module/sidebar.scss */
.open {
  transform: rotate(0deg);
  -webkit-transform: rotate(0deg);
  -ms-transform: rotate(0deg);
}

/* line 101, ../../sass/module/sidebar.scss */
.close {
  transform: rotate(-90deg);
  -webkit-transform: rotate(-90deg);
  -moz-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
}

/* line 108, ../../sass/module/sidebar.scss */
.sidebar-link-item {
  position: relative;
  display: block;
  width: 100%;
  height: 42px;
  cursor: pointer;
}
/* line 115, ../../sass/module/sidebar.scss */
.sidebar-link-item:hover {
  background-color: #323e57;
  cursor: pointer;
}

/* line 122, ../../sass/module/sidebar.scss */
.sidebar-link-item > span {
  display: inline-block;
  margin: 3.5px 8px 0 18px;
}

/* line 128, ../../sass/module/sidebar.scss */
.sidebar-link-item > div {
  position: absolute;
  display: inline-block;
  line-height: 32px;
  color: #ffffff;
  font-size: 14px;
  margin: 11.5px 0 5px 0;
  line-height: 15px;
}

/* line 138, ../../sass/module/sidebar.scss */
#home-page {
  position: relative;
}
/* line 141, ../../sass/module/sidebar.scss */
#home-page #home-page-text {
  font-size: 15px;
}

/* line 146, ../../sass/module/sidebar.scss */
.icons-current {
  position: absolute;
  display: inline-block;
  margin-top: -6.5px;
  right: 0;
}

/* line 153, ../../sass/module/sidebar.scss */
.sidebar-fold-in {
  animation: fold-in 1s ease;
  -webkit-animation: fold-in 1s ease;
  animation-fill-mode: forwards;
  -webkit-animation-fill-mode: forwards;
}
@keyframes fold-in {
  from {
    width: 245px;
    min-width: 245px;
  }
  to {
    width: 50px;
    min-width: 50px;
  }
}
@-webkit-keyframes fold-in {
  from {
    width: 245px;
    min-width: 245px;
  }
  to {
    width: 50px;
    min-width: 50px;
  }
}
/* line 182, ../../sass/module/sidebar.scss */
.sidebar-fold-in a div {
  animation: fade-in 1s ease;
  -webkit-animation: fade-in 1s ease;
  animation-fill-mode: forwards;
  -webkit-animation-fill-mode: forwards;
}
@keyframes fade-in {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
@-webkit-keyframes fade-in {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
/* line 201, ../../sass/module/sidebar.scss */
.sidebar-fold-out {
  animation: fold-out 1s ease;
  -webkit-animation: fold-out 1s ease;
  animation-fill-mode: forwards;
  -webkit-animation-fill-mode: forwards;
}
@keyframes fold-out {
  from {
    width: 50px;
    min-width: 50px;
  }
  to {
    width: 245px;
    min-width: 245px;
  }
}
@-webkit-keyframes fold-out {
  from {
    width: 50px;
    min-width: 50px;
  }
  to {
    width: 245px;
    min-width: 245px;
  }
}
/* line 230, ../../sass/module/sidebar.scss */
.sidebar-fold-out a div {
  animation: fade-out 1s ease;
  -webkit-animation: fade-out 1s ease;
  animation-fill-mode: forwards;
  -webkit-animation-fill-mode: forwards;
}
@keyframes fade-out {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@-webkit-keyframes fade-out {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
/* line 249, ../../sass/module/sidebar.scss */
.link-fold {
  text-align: center;
}
/* line 252, ../../sass/module/sidebar.scss */
.link-fold span {
  margin: 0;
  margin-top: 5px;
}

/* line 258, ../../sass/module/sidebar.scss */
.memu-item {
  width: 100%;
  height: 62px;
  background-color: #d9dee4;
  color: #666;
  font-size: 14px;
  padding: 22.5px 0;
  padding-left: 11px;
  text-align: left;
  line-height: 17px;
}

/* line 270, ../../sass/module/sidebar.scss */
.secondary-sidebar-box {
  position: relative;
  background-color: #eaedf2;
  overflow: visible;
  z-index: 11;
}
/* line 278, ../../sass/module/sidebar.scss */
.secondary-sidebar-list {
  height: 100%;
  position: relative;
}
/* line 283, ../../sass/module/sidebar.scss */
.secondary-sidebar-list > ul > li {
  padding: 0;
}
/* line 286, ../../sass/module/sidebar.scss */
.secondary-sidebar-list > ul > li > a {
  display: inline-block;
  line-height: 46px;
  padding-left: 32px;
  height: 100%;
  width: 100%;
  position: relative;
  color: #666;
  font-size: 13px;
  text-decoration: none !important;
  color: #666;
}
/* line 117, ../../sass/settings/_mixin.scss */
.secondary-sidebar-list > ul > li > a:hover, .secondary-sidebar-list > ul > li > afocus, .secondary-sidebar-list > ul > li > a:active, .secondary-sidebar-list > ul > li > a:visited {
  text-decoration: none;
  color: #666;
  cursor: pointer;
}
/* line 298, ../../sass/module/sidebar.scss */
.secondary-sidebar-list > ul > li > a:hover {
  background-color: #f2f4fa;
}
/* line 303, ../../sass/module/sidebar.scss */
.secondary-sidebar-list > ul > ul > li {
  padding: 0;
}
/* line 306, ../../sass/module/sidebar.scss */
.secondary-sidebar-list > ul > ul > li > a {
  display: inline-block;
  font-size: 12px;
  line-height: 35px !important;
  padding-left: 40px !important;
  color: #666;
  height: 100%;
  width: 100%;
  text-decoration: none !important;
  color: #666;
}
/* line 117, ../../sass/settings/_mixin.scss */
.secondary-sidebar-list > ul > ul > li > a:hover, .secondary-sidebar-list > ul > ul > li > afocus, .secondary-sidebar-list > ul > ul > li > a:active, .secondary-sidebar-list > ul > ul > li > a:visited {
  text-decoration: none;
  color: #666;
  cursor: pointer;
}
/* line 315, ../../sass/module/sidebar.scss */
.secondary-sidebar-list > ul > ul > li > a:hover {
  background-color: #f2f4fa;
}
/* line 323, ../../sass/module/sidebar.scss */
.secondary-sidebar-list .active-link {
  background-color: #fff;
}
/* line 327, ../../sass/module/sidebar.scss */
.secondary-sidebar-list .icons-triangle {
  display: inline-block;
  position: absolute;
  left: 0;
  margin-top: 3px;
}

/* line 337, ../../sass/module/sidebar.scss */
.sec-sidebar-in {
  -webkit-flex: 0 0 0px;
  flex: 0 0 0px;
  visibility: hidden;
}

/* line 342, ../../sass/module/sidebar.scss */
.sec-sidebar-out {
  -webkit-flex: 0 0 195px;
  flex: 0 0 195px;
  visibility: visible;
}

/* line 347, ../../sass/module/sidebar.scss */
.shrink-left-div,
.shrink-right-div {
  display: inline-block;
  left: 100%;
  position: absolute;
  top: 50%;
}
/* line 354, ../../sass/module/sidebar.scss */
.shrink-left-div .icons-shrink-left,
.shrink-left-div .icons-shrink-right,
.shrink-right-div .icons-shrink-left,
.shrink-right-div .icons-shrink-right {
  display: inline-block;
}
/* line 358, ../../sass/module/sidebar.scss */
.shrink-left-div .icons-shrink-left:hover,
.shrink-left-div .icons-shrink-right:hover,
.shrink-right-div .icons-shrink-left:hover,
.shrink-right-div .icons-shrink-right:hover {
  cursor: pointer;
}
/* line 364, ../../sass/module/sidebar.scss */
.shrink-left-div .icons-shrink-right:hover,
.shrink-right-div .icons-shrink-right:hover {
  width: 22px;
}
/* line 365, ../../sass/module/sidebar.scss */
.shrink-left-div .icons-shrink-left:hover,
.shrink-right-div .icons-shrink-left:hover {
  width: 18px;
}

/* line 368, ../../sass/module/sidebar.scss */
.shrink-left-div {
  -webkit-transform: translateX(-100%);
  -moz-transform: translateX(-100%);
  -ms-transform: translateX(-100%);
  transform: translateX(-100%);
}

/* line 383, ../../sass/module/sidebar.scss */
.sec-sidebar-fold-in {
  animation: sec-fold-in 1s ease;
  -webkit-animation: sec-fold-in 1s ease;
  animation-fill-mode: forwards;
  -webkit-animation-fill-mode: forwards;
}
@keyframes sec-fold-in {
  from {
    width: 195px;
    min-width: 195px;
  }
  to {
    width: 0;
    min-width: 0;
  }
}
@-webkit-keyframes sec-fold-in {
  from {
    width: 195px;
    min-width: 195px;
  }
  to {
    width: 0;
    min-width: 0;
  }
}
/* line 413, ../../sass/module/sidebar.scss */
.sec-sidebar-fold-out {
  animation: sec-fold-out 1s ease;
  -webkit-animation: sec-fold-out 1s ease;
  animation-fill-mode: forwards;
  -webkit-animation-fill-mode: forwards;
}
@keyframes sec-fold-out {
  from {
    width: 0;
    min-width: 0;
  }
  to {
    width: 195px;
    min-width: 195px;
  }
}
@-webkit-keyframes sec-fold-out {
  from {
    width: 0;
    min-width: 0;
  }
  to {
    width: 195px;
    min-width: 195px;
  }
}
/* line 469, ../../sass/module/sidebar.scss */
.link-fold #icons-messages {
  margin-left: -2px;
}

/* line 471, ../../sass/module/sidebar.scss */
.sidebar-fold-in .sidebar-link-item {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
}
